<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Pizza Dwelling</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nunito-sans" type="text/css" />
  <link rel="stylesheet" href="styles.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="vue-app">
    <h1>The Pizza Dwelling</h1>

    <div class="menu">
      <h2>Looped Array Menu</h2>

      <template v-for="(pizza, index) in pizzas">
        <p>{{pizza.name}} {{pizza.prize}}  </p>
        <button v-on:click="addItem(pizza.name, index, pizza.prize)">Add item on index: {{index}}</button>
        <!-- <button v-on:click="incrementSum(pizza.name, index, pizza.prize)">Increment sum on index {{index}} </button> -->

      </template>
    </div>

    <div class="order">
      <h2>Order</h2>

      <ul v-for="item in order">
        <li>{{item.name}} {{item.prize}} Sum: {{item.sum  }} Index : {{ ii }}</li>
      </ul>
      <span>Order sum placeholder<button>Cancel</button></span>
    </div>
  </div>

  <script type="text/javascript" src="app.js"></script>
</body>

</html>
