<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Pizza Dwelling</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nunito-sans" type="text/css" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/acro-script" type="text/css"/>
  <link rel="stylesheet" href="styles.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="vue-app">
    <h1 id="mainHeading">The Pizza Dwelling</h1>
    <div class="flex-container">


      <div class="box menu">
        <h2>Menu</h2>
        <template v-for="(pizza, index) in pizzas">
        <p>{{pizza.name}} {{pizza.prize.toFixed(2) }} <button v-on:click="addToOrder(pizza.name, index, pizza.prize)">Add to Order </button></p>
        </template>
      </div>

      <div class="box order">
        <h2>Order</h2>

      <!-- <ul v-for="(item, index) in order">
          <li>{{item.name}} Price: {{item.prize}} Qty: {{ item.qty }} Sum: {{ item.sum }} <button v-on:click='editQty(index, 1)'>+</button> <button v-on:click='editQty(index, -1)'>-</button></li>
        </ul>
        <span id="total">Total: {{ orderTotal }} <button v-on:click="order = []">Cancel</button></span>
      -->

      <form method="post" v-on:submit.prevent>
        <template v-for="(item, index) in order">
            <input type="text" v-bind:value="item.name">  <input type="text" v-bind:value="item.prize"> X  <input type="text" v-bind:value="item.qty">  <input type="text" v-bind:value="item.sum">
            <br>
        </template>
        <span id="total">Total: {{ orderTotal }} <button v-on:click="order = []">Cancel</button>
        <button type="submit" name="button" >Submit</button></span>
      </form>

      </div>
    </div>
  </div>

  <script type="text/javascript" src="app.js"></script>
</body>

</html>
