* {
  font-family: "nunito sans", sans-serif;
  /*font-family: "H0bbyofnightRegular", sans-serif;*/
  /*font-family: "BrividoNormal", sans-serif;*/
  /*font-weight: normal;
  font-style: normal;*/
  color: MidnightBlue;
  background-color: LightCyan;
}

h1,
h2 {
  font-family: "acroscriptRegular", sans-serif;
  /*font-weight: normal;
  font-style: normal;*/
}

/*li,
span {
  font-family: "nunito sans", sans-serif;
}*/

li {
  list-style: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 250px;
  flex-basis: 400px;
  flex-grow: 1;
  padding: 1rem;
  border: 1px solid lightgray;
  position: relative;
}

.menu {
  /*background-color: lightgray;*/
}

.order {
  /*background-color: gray;*/
}

#total {
  position: absolute;
  top: 210px;
  left: 52px;
}

#mainHeading {
  text-align: center;
}
