* {
  font-family: "nunito sans", sans-serif;
  color: MidnightBlue;
  background-color: LightCyan;
}

#mainHeading {
  text-align: center;
  font-size: 6vmax;
}

h2 {
  font-size: 3vmax;
}

h1,
h2 {
  font-family: "acroscriptRegular", sans-serif;
}

li {
  list-style: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 40vmin;
  flex-basis: 400px;
  flex-grow: 1;
  /*padding: 1rem;*/
  /*padding: 15px, 1rem, 0, 1rem;*/
  /*padding: 4vh 10vw 10vh 10vw;*/
  border: 1px solid lightgray;
  position: relative;
}

#total {
  /*position: absolute;
  bottom: 0.5vmax;
  left: 0vh;*/
  /*text-decoration: underline;*/
}

input {
  width: 3rem;
  border: none;
  font-size: inherit;
}

.wide_input {
  width: 7rem;
}

button {
  border: none;
  background-color: LightGray;
}

.menu button {
  /*padding: 0.4rem;*/
  position: absolute;
  left: 20rem;
}
