* {
  font-family: "nunito sans", sans-serif;
  color: MidnightBlue;
  background-color: LightCyan;
}

h1,
h2 {
  font-family: "acroscriptRegular", sans-serif;
}

h1 {
  text-align: center;
  font-size: 6vmax;
}

h2 {
  font-size: 3vmax;
}

li {
  list-style: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 40vmin;
  flex-basis: 400px;
  flex-grow: 1;
  margin: 1vmax;
  border: 1px solid lightgray;
  position: relative;
}

input {
  width: 3rem;
  border: none;
  font-size: inherit;
}

.wide_input {
  width: 7rem;
}

button {
  border: none;
  background-color: LightGray;
}

.menu button {
  position: absolute;
  left: 32vw;
}
